@font-face {
    font-family: Whisper;
    src: url(Whisper-Regular.ttf);
}

@font-face {
    font-family: Redhat;
    src: url(RedHatDisplay-VariableFont_wght.ttf);
}

* {
    font-family: Redhat, Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    margin: 0;
    height: 100%;
    
}

.main {
   
    height: 100%;
    display: flex;
    justify-content: stretch;
}

.sidebar {
    height: 100vh;
    background-image: url(toa-heftiba-a9pFSC8dTlo-unsplash.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-box {
    min-height: 120px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1px;
    gap: 1rem;
}

.logo {
    max-width: 110px;
}

.logo-title {
    color: aliceblue;
    font-size: 1rem;
    text-align: center;
    line-height: 0.9;
}

.logo-name {
    font-family: Whisper, Georgia, 'Times New Roman', Times, serif;
    font-size: 3.8rem;
    
}

.attribution,
.attribution a {
    text-align: center;
    color: aliceblue;
    font-size: 0.8rem;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(130,130,130,0.1);
}

.introduction,
.form-submit,
.login,
.form-field
 {
    padding: 0 1rem;
}

.introduction {
    
}
.introduction-text {
 margin-top: 2rem;
 font-size: 1.2rem;
 line-height: 1.5rem;
 
}

@media screen and (max-width: 415px) {
  .introduction-text {
    font-size: 1rem;
    line-height: 1.1rem;
    margin-top: 0;
  }   
}


.form-field {
    background-color: white;
    box-shadow: 0 5px 10px grey;
}


.form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: start ;
    gap: 1rem 2rem;
    padding-bottom: 2rem ;
}

@media screen and (max-width: 600px){
    .form-grid {
      gap: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }  
}

.form-label {
    display: block;
    font-size: 0.7rem;
    letter-spacing: .1rem;
    padding: 2px;
}

.form-submit {
    font-size: .9rem;
    margin: 1rem 1rem;
    width: 150px;
    height: 35px;
    color: aliceblue;
    font-weight: bolder;
    border-radius: 3px;
    border: 2px solid rgb(113, 189, 189);
    background-color: rgb(113, 189, 189);
}

.form-submit:hover {
    box-shadow: 0 2px 5px darkcyan;
}

.login{
    padding-bottom: 1rem;
}

.login a {
    color: black;
}


.login a:hover::after {
    display: inline-block;
    content: ">>>";
    text-decoration: none;
    font-size: 0.8rem;
    padding-left: 0.4rem;
    font-weight: 700;
}

@media screen and (max-width: 550px){
    .login a {
      display: block;
    }  
}


.form-input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid rgb(113, 189, 189);
    border-radius: 2px;
}

input:focus {
    outline: 1px solid darkcyan;
}

.form-input:not(:placeholder-shown):invalid {
    appearance: none;
    background-color: rgb(238, 187, 187);
    border: 1px solid red;
    border-radius: 2px;
}


input:valid:not(:placeholder-shown) {
    background-color: aliceblue;
    border-color: rgb(60, 166, 233);
}

.error-message {
    margin-top: 2px;
    font-size: 0.6rem;
    color: red;
}

.error {
    border: 1px solid red;
    border-radius: 2px;
    background-color: rgb(238, 187, 187);
}